<div class="container">
	<h2>Přepis kázání: {{sermon.title}}</h2>

	<p>
		{{#if sermon.url_farnost}}<a href="{{sermon.url_farnost}}">{{#if sermon.date}}{{sermon.date}},
				{{/if}}{{sermon.description}}</a>
		{{else}}<i>{{#if sermon.date}}{{sermon.date}}, {{/if}}{{sermon.description}}</i>
		{{/if}}
	</p>

	<p>⚠️ Pozor! Jedná se o neoficiální neautorizovaný přepis, vytvořený pomocí umělé inteligence. Přepis tedy nemusí
		odpovídat originálu.</p>

	{{#if sermon.url_audio}}
		<div>
			<audio controls="controls" controlslist="nodownload" class="loaded" preload="metadata">
				<source src="{{sermon.url_audio}}" type="audio/mpeg" />
				<span>
					Your browser does not support the audio element.
				</span>
			</audio>
		</div>
	{{/if}}

	<div id="transcript">
		{{{transcript}}}
	</div>

	<p>
		<a href="/">
			&larr; Zpět na seznam kázání
		</a>
	</p>
</div>